<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>movie-search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
</head>

<body>

<header>
    <div class="ui stackable massive menu">
        <div class="header item">movie-search</div>
        <form th:action="@{/movies/search}" th:object="${searchRequest}" method="post">
            <div class="ui category search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" autocomplete="off" th:field="*{text}" placeholder="Search movies by title...">
                    <i class="search icon"></i>
                </div>
            </div>
        </form>
    </div>
</header>

<main>
    <div class="ui floating positive message" th:if="${message}" style="cursor:pointer">
        <div class="ui center aligned header" th:text="${message}"></div>
    </div>

    <div class="ui container">
        <div class="ui four stackable doubling centered cards" style="margin-top:10px">
            <div class="ui centered card" th:each="movie:${movies}">
                <div class="image">
                    <img th:src="@{${movie.poster}}">
                </div>
                <div class="content">
                    <div class="ui center aligned header" th:text="${movie.title}">Title</div>
                    <div class="meta" th:text="${movie.imdbId}">ImdbId</div>
                    <div class="description" th:text="${movie.actors}">Actors</div>
                </div>
                <div class="extra content">
                    <span th:text="${movie.year}">Year</span>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
<script>
    $(function () {
        $('.message').on('click', function() {
            $(this).closest('.message').transition('fade')
        })
    })
</script>

</body>
</html>